{% extends 'main/patient.html' %}
{% load static %}

{% block patient%}


<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class = 'container'>
                    <form action="" method="get">
                        <div class="col-12 col-sm-6">
                            
                            
                            <input type="text" name = 'all'>
                                
                            
                        </div>
                        <button  type="submit">Search</button>
                    </form>
                    <table class="table">
                        <thead class="bg-dark">
                          <tr style="color:white ;">
                            <th scope="col">Name</th>
                            <th scope="col">Department</th>
                            <th scope="col">Degree Info</th>
                            <th scope="col">Hospital Name</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                            {% for i in doctor%}
                            <tr>
                                <th scope="row">{{i.name}}</th>
                                <td scope="row">{{i.depart}}</td>
                                <td scope="row">{{i.degree}}</td>
                                
                                <td scope="row">{{i.hos_name}}</td>              
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
                
            </div>
            
            
            <div class="col-lg-6">
                <div class="bg-light text-center rounded p-5">
                    <h1 class="mb-4">Book An Appointment</h1>
                    <form >
                        <div class="row g-3">
                            <form action="" method="get">
                                <div class="col-12 col-sm-6">
                                    
                                    <select id ='select1' class="form-select bg-white border-0" style="height: 55px;"  name = 'all' >
                                        <option selected disabled ='true'>--Select Hospital--</option>
                                        {% for hos in doctor  %}
                                        <option value="{{hos.hos_name_id}}">{{hos.hos_name}}</option>
                                        {% endfor %}
                                        <button type="submit">Search</button>
                                        
                                    </select>
                                </div>
                            </form>
                            <div class="col-12 col-sm-6">
                                <select id ='select2'class="form-select bg-white border-0" style="height: 55px;">
                                    <option selected disabled ='true'>Select Department</option>
                                    {% for dt in department  %}
                                    <option >{{dt}}</option>
                                    {% endfor %}
                                    
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select id ='select3' class="form-select bg-white border-0" style="height: 55px;">
                                    <option selected disabled ='true'>Select Doctor</option>
                                    {% for doc in doctor %}
                                    <option >{{doc}}</option>
                                    {% endfor %}
                                    
                                </select>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input type="text"
                                        class="form-control bg-white border-0 datetimepicker-input"
                                        placeholder="Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="time" id="time" data-target-input="nearest">
                                    <input type="text"
                                        class="form-control bg-white border-0 datetimepicker-input"
                                        placeholder="Time" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Make An Appointment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->
{% endblock %}