{% extends 'main/patient.html' %}

{% load static %}

{% block patient %}


<div class = 'container'>
    <table class="table">
        <thead class="bg-dark">
          <tr style="color:white ;">
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Degree Info</th>
            <th scope="col">Hospital Name</th>
            <th scope="col">Location</th>
            
          </tr>
        </thead>
        <tbody>
            {% for i in all_data %}
            <tr>
                <th scope="row">{{i.name}}</th>
                <td scope="row">{{i.depart}}</td>
                <td scope="row">{{i.degree}}</td>
                
                <td scope="row">{{i.hos_name}}</td>
                <td scope="row">{{i.hos_name.location}}</td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>




{% endblock %}

