{% extends 'authentication/index.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="main">

    <section class="signup">
        {% if user.is_authenticated %}
            <div >
                
                {% for message in messages%}
                <script>
                    window.onload = function(){
                    alert("{{message}}")
                    }

                </script>
                {% endfor %}
            </div>
        {% endif %}
        
            
            
               
                
            
        </div>
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container" style="padding-right: 400px; padding-left:100px; margin-left:23%;">

            
            <div class="signup-content">
                <form   method="post"  id="signup-form" class="signup-form">
                    {% csrf_token %}
                    <h2 class="form-title">  <b>Create an Account</b></h2>
                    

                    <div class="form-group">
                    {{register_form.username|as_crispy_field}}
                    
                    </div>

                    <div class="form-group">
                        {{register_form.first_name|as_crispy_field}}
                    
                    </div>

                    <div class="form-group">
                        {{register_form.last_name|as_crispy_field}}
                    
                    </div>

                    <div class="form-group">
                        {{register_form.email|as_crispy_field}}
                    
                    </div>

                    

                    
                    <div class="form-group">
                        {{extend_form.catagory|as_crispy_field}}
                    
                    </div>
                    <div class="form-group">
                        {{extend_form.phone_no|as_crispy_field}}
                    
                    </div>

                    
                    <div class="form-group">
                        {{register_form.password1|as_crispy_field}}
                    
                    </div>

                    
                    <div class="form-group">
                        {{register_form.password2|as_crispy_field}}
                    
                    </div>

                    
                    <div class="form-group">
                        <button type="submit" name="submit" id="submit" class="form-submit"  >
                            Register
                        </button>
                    </div>
                
                </form>
                

                <p class="loginhere">
                    Have already an account ? <a href="{% url 'authentication:login' %}" class="loginhere-link">Login here</a>
                </p>

              

            </div>
          
        </div>
      
    </section>
</div>

{% endblock %}
